<section class="content">
  <h2>Our Story</h2>
  <p>Dog. Hotel | Daycare is located on Chicago's Historic Goose Island. We offer  luxury accommodations to the most discerning of pets and pet-parents.  Our facility boasts fourteen thousand square feet of room for your dog to enjoy!   We offer dog daycare play groups, state of the art boarding accomodations, and unparalleled concierge services.</p>
  <p>Dog. Hotel | Daycare is the best choice for your dog daycare and dog boarding needs in Chicago!</p>
  <p>We are the only privately owned,  24 hour dog daycare and boarding facility in Chicago!   We have staff on site 24 hours a day.  Accountability, Integrity and Service are our number one goal in caring for your pet.   Our knowledgable staff has years of industry and personal experience.  We have designed our facility and staff structure to provide your pet with the best possible care. We love our dogs, and we love your dogs!</p>
</section>

<section class="content alternate-section">
  <h3>Meet the Owners</h3>
  <h5>Margaret Fulghum</h5>
  <img src="/media/margaret.jpg" alt="Margaret Fulghum" title="Margaret Fulghum" align="right" style="padding: 15px;">
  <p>Margaret is a Chicago native, growing up in nearby Western Springs, IL.  She owns 3 dogs including a French Bulldog named Russell, a Chihuahua named Rocco, and a handsome Chocolate Lab named Bear. </p>
  <p>She is a seasoned owner with 8 years of industry experience under her collar. Her favorite part about working with dogs is watching them learn and grow; having them become part of her extended family.</p>
  <p>Margaret worked for years as a dog attendant and dog hotel General Manager, and she understands the ins-and-outs of the boarding and daycare business. This type of experience benefits Dog. Hotel | Daycare clients because she understands the needs of both the pups and the pup-parents. She has fantastic working relationships with local shelters and vet offices, as well as other dog-friendly businesses across Chicagoland.  It is not uncommon for Margaret to be spotted at dog functions throughout the city and if you do be sure to say "Hi!" she would love to meet you and your dog!</p>

  <h5>Bridget Lyons</h5>
  <img src="/media/bridget.jpg" alt="Bridget Lyons" title="Bridget Lyons" align="left" style="padding: 15px;">
  <p>Bridget is also a Chicago native, and loves pups! She has a 6 year old handsome pitbull named Khalo.</p>
  <p>Growing up, Bridget spent long summers working on the family farm and those experiences really grew her love for animals, as well as her work-ethic! Sun up to sun down Bridget is an owner dedicated to your pup's stay, play, and your total satisfaction!</p>
  <p>Training is particularly important to Bridget so she works with various training academies throughout Chicagoland, learning their methods and offering their services through Dog. Hotel | Daycare.  Having worked closely with rescues such as Greyhounds Only, she also understands the deep need for compassionate and loving placement for homeless animals in need of rescue, and is a committed member of the animal rescue community.  Bridget also worked within pet hotels and daycare companies as both an attendant and managementand understands the needs on both sides of the fence.  She believes each owner and each dog is unique and deserves to be treated and cherished as such.  She and her staff will be certain to hold the highest regards for you, and your dog's individual needs! "It's simple, we are here to care for our guests and their pets and make their lives happier, and easier."
  </p>

  <div style="clear:both;">&nbsp;</div>
</section>