<div class="background background-boarding"></div>

<section class="content">
  <h2>Dog Boarding</h2>
  <p>Whether you're away for a few days on business or off on vacation for weeks, Dog. Hotel | Daycare is the safe and stress-free choice for dog boarding in Chicago.</p>
  <p>Our staff has years of experience in the pet-care industry and have been specially trained to care for your pup while you are at work or on vacation.</p>
  <p>Boarding can be a stressful experience for both parents and pups so we have designed our suites and facility to ensure that your pup has a relaxing stay in and you have solid piece of mind.  Our facility is equipped with cameras so you can log in right from your phone and view your pup's play, or your pup's stay overnight. We offer hand-tiled walls, stained and sealed floors, tempered glass fronts on all of our rooms, raised beds and blankets, flat screen t.v.'s and web-cam monitoring  for your convenience.</p>
  <p>Daycare playtime is of course included in your boarding experience and we are open 24 hours a day for pick up and drop off.</p>
</section>

<section class="content alternate2-section">
  <h3>Dog Hotel and Daycare Suites</h3>

  <div class="row percent-33 suites center">
    <div class="group">
      <img src="/media/junior-suite.jpg" alt="Junior Suite" title="Junior Suite">
      <p>Junior Suite</p>
    </div><div class="group">
      <img src="/media/deluxe-suite.jpg" alt="Deluxe Suite" title="Deluxe Suite">
      <p>Deluxe Suite</p>
    </div><div class="group">
      <img src="/media/grand-suite.jpg" alt="Grand Suite" title="Grand Suite">
      <p>Grand Suite (includes suite web cam and tv)</p>
    </div>
  </div>
</section>

<section class="content alternate-section">
  <h3>Suite Options &amp; Amenities</h3>

  <div class="row">
    <div class="group">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-asterisk"></i> All Day Daycare!</li>
        <li><i class="fa-li fa fa-asterisk"></i> Trained staff on site 24 hours a day, every day of the year</li>
        <li><i class="fa-li fa fa-asterisk"></i> 24-hour Pick up and Drop off Service on-site!</li>
        <li><i class="fa-li fa fa-asterisk"></i> Daily maid service and linen changes</li>
        <li><i class="fa-li fa fa-asterisk"></i> Room service – up to three meals a day. Includes pet’s personal food or house kibble, prepared as instructed</li>
        <li><i class="fa-li fa fa-asterisk"></i> Oral and/or liquid medications administered for free</li>
      </ul>
    </div><div class="group">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-asterisk"></i> Around-the-clock access to veterinary care if needed</li>
        <li><i class="fa-li fa fa-asterisk"></i> Webcams are available round-the-clock</li>
        <li><i class="fa-li fa fa-asterisk"></i> Treat your pet to amenities such as turn-down service, one-on-one play time, belly-rubs, massage, and spa treatments</li>
      </ul>
    </div>
  </div>
</section>

<section id="prices" class="content">
  <h3>Hotel Pricing</h3>
  <div class="row percent-33">
    <div class="group price">
      <h4>Junior Suite</h4>
      <span class="amount"><i class="fa fa-dollar"></i>55<sup>00</sup></span>
      <span class="footer">Includes up to 7 hours of playtime</span>
    </div><div class="group price">
    <h4>Deluxe Suite</h4>
    <span class="amount"><i class="fa fa-dollar"></i>85<sup>00</sup></span>
    <span class="footer">Includes up to 7 hours of playtime</span>
  </div><div class="group price">
    <h4>Grand Suite</h4>
    <span class="amount"><i class="fa fa-dollar"></i>115<sup>00</sup></span>
    <span class="footer">Deluxe + individual webcam</span>
  </div>
  </div>

  <h3>2nd Dog Pricing</h3>
  <div class="row percent-33">
    <div class="group price">
      <h4>Junior Suite</h4>
      <span class="amount"><i class="fa fa-dollar"></i>41<sup>00</sup></span>
      <span class="footer">Includes up to 7 hours of playtime</span>
    </div><div class="group price">
      <h4>Deluxe Suite</h4>
      <span class="amount"><i class="fa fa-dollar"></i>64<sup>00</sup></span>
      <span class="footer">Includes up to 7 hours of playtime</span>
    </div><div class="group price">
      <h4>Grand Suite</h4>
      <span class="amount"><i class="fa fa-dollar"></i>85<sup>00</sup></span>
      <span class="footer">Deluxe + individual webcam</span>
    </div>
  </div>

  <p>*<i>For guests with more than two dogs, please <a href="/contact">Contact Us</a> for special pricing.</i></p>
</section>

<section class="content">
  <div class="row">
    <div class="group">
      <h3><i class="fa fa-check-square"></i> Arrival Checklist</h3>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-asterisk"></i> Make sure to have your own dog's food packaged with belongings with clear feeding instructions.</li>
        <li><i class="fa-li fa fa-asterisk"></i> If you would like, we do have a House Blend dog food available at an additional charge, though we do recommend keeping your dog on it's own consistent diet.</li>
        <li><i class="fa-li fa fa-asterisk"></i> Make sure to bring any belongings or personal items you would like to have with your dog during it's vacation with us.</li>
        <li><i class="fa-li fa fa-asterisk"></i> Make sure you have all transportation arranged with the front desk if you are using a pick up/drop off service</li>
        <li><i class="fa-li fa fa-asterisk"></i> If your dog has allergies or medications be certain to let the front desk know or make a note on your online reservation including medicine instructions.</li>
        <li><i class="fa-li fa fa-asterisk"></i> Be certain that all of your vaccinations are up to date and that you have read our check in and check out policies.</li>
        <li><i class="fa-li fa fa-asterisk"></i> Apply your monthly Frontline or flea and tick prevention prior to arrival.</li>
      </ul>
    </div><div class="group">
    <h3><i class="fa fa-check-square-o"></i> Departure Checklist</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-asterisk"></i> We carefully inventory all items upon arrival and departure but just in case, you can check to be certain all of your items have been returned with your pup.</li>
      <li><i class="fa-li fa fa-asterisk"></i> If you have scheduled a bath prior to departure please let us know what time you expect to depart so that we have plenty of time for your fur-baby to dry off.</li>
      <li><i class="fa-li fa fa-asterisk"></i> Please be certain to read our check-in and check-out policies prior to arrival and departure, and contact us if you have any questions; we are here to assist you in any way we can.</li>
    </ul>
    </div>
  </div>
</section>

{{> healthPartial }}

<section class="content">
  <h3>We Know You Miss Them</h3>
  <p>Current customers can unlock our Boarding Webcams to check in on their little guy.</p>
  {{> boardingCamsPartial }}
</section>

<!-- webcams -->
<script src="/scripts/webcams.js"></script>