<div class="row webcams">
  <div class="group">
    <img src="/media/boarding-grand1-cam.jpeg" data-src="http://69.38.192.54:88/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=grand1&t=1429412693" id="bcam1">
    <h4>Grand Suite 1</h4>
    <p>Enter password to unlock:</p>
    <input type="password" id="bcam1Password" name="bcam1Password" placeholder="password">
    <button type="button" class="small" onclick="unlock('bcam1');">Unlock</button>
  </div><div class="group">
    <img src="/media/boarding-grand2-cam.jpeg" data-src="http://69.38.192.54:86/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=grand2&t=1429412806" id="bcam2">
    <h4>Grand Suite 2</h4>
    <p>Enter password to unlock:</p>
    <input type="password" id="bcam2Password" name="bcam2Password" placeholder="password">
    <button type="button" class="small" onclick="unlock('bcam2');">Unlock</button>
  </div>
</div>

<hr>

<div class="row webcams">
  <div class="group">
    <img src="/media/boarding-grand3-cam.jpeg" data-src="http://69.38.192.54:90/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=grand3&t=1429412852" id="bcam3">
    <h4>Grand Suite 3</h4>
    <p>Enter password to unlock:</p>
    <input type="password" id="bcam3Password" name="bcam3Password" placeholder="password">
    <button type="button" class="small" onclick="unlock('bcam3');">Unlock</button>
  </div><div class="group">
    <img src="/media/boarding-grand4-cam.jpeg" data-src="http://69.38.192.54:84/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=grand4&t=1429412955" id="bcam4">
    <h4>Grand Suite 4</h4>
    <p>Enter password to unlock:</p>
    <input type="password" id="bcam4Password" name="bcam4Password" placeholder="password">
    <button type="button" class="small" onclick="unlock('bcam4');">Unlock</button>
  </div>
</div>