<div class="row webcams">
  <div class="group">
    <img src="http://69.38.192.54:88/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=grand1&t=1429412693" id="cam1">
    <h4>Grand Suite 1</h4>
    <p>Enter password to unlock:</p>
    <input type="password" id="cam1Password" name="cam1Password" placeholder="password">
    <button type="button" class="small" onclick="unlock('cam1');">Unlock</button>
  </div><div class="group">
    <img src="http://69.38.192.54:86/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=grand2&t=1429412806" id="cam2">
    <h4>Grand Suite 2</h4>
    <p>Enter password to unlock:</p>
    <input type="password" id="cam2Password" name="cam2Password" placeholder="password">
    <button type="button" class="small" onclick="unlock('cam2');">Unlock</button>
  </div>
</div>

<hr>

<div class="row webcams">
  <div class="group">
    <img src="http://69.38.192.54:90/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=grand3&t=1429412852" id="cam3">
    <h4>Grand Suite 3</h4>
    <p>Enter password to unlock:</p>
    <input type="password" id="cam3Password" name="cam3Password" placeholder="password">
    <button type="button" class="small" onclick="unlock('cam3');">Unlock</button>
  </div><div class="group">
    <img src="http://69.38.192.54:84/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=grand4&t=1429412955" id="cam4">
    <h4>Grand Suite 4</h4>
    <p>Enter password to unlock:</p>
    <input type="password" id="cam4Password" name="cam4Password" placeholder="password">
    <button type="button" class="small" onclick="unlock('cam3');">Unlock</button>
  </div>
</div>