<h2>Dog Boarding</h2>
<p>Our staff has years of experience in the pet-care industry and have been specially trained to care for your pup while you are at work or on vacation.</p>

<p>Boarding can be a stressful experience for both parents and pups so we have designed our suites and facility to ensure that your pup has a relaxing stay in and you have solid piece of mind.</p>
<p>Our facility is equipped with cameras so you can log in right from your phone and view your pup's play, or your pup's stay overnight.</p>
<p>We offer hand-tiled walls, stained and sealed floors, tempered glass fronts on all of our rooms, raised beds and blankets, flat screen t.v.'s and web-cam monitoring  for your convenience.</p>
<p>Daycare playtime is of course included in your boarding experience and we are open 24 hours a day for pick up and drop off.</p>

<h3>Suite Options &amp; Amenities</h3>
<ul>
  <li>All Day Daycare!</li>
  <li>Trained staff on site 24 hours a day, every day of the year</li>
  <li>24-hour Pick up and Drop off Service on-site!</li>
  <li>Daily maid service and linen changes</li>
  <li>Room service – up to three meals a day. Includes pet’s personal food or house kibble, prepared as instructed</li>
  <li>Oral and/or liquid medications administered for free</li>
  <li>Guest report card with each stay</li>
  <li>Complimentary departure bath for pet guests staying seven (7) nights or longer.</li>
  <li>Around-the-clock access to veterinary care if needed</li>
  <li>Webcams are available round-the-clock</li>
  <li>Treat your pet to amenities such as turn-down service, one-on-one play time, belly-rubs, massage, and spa treatments</li>
</ul>

<h3>Arrival Checklist</h3>
<ul>
  <li>Make sure to have your own dog's food packaged with belongings with clear feeding instructions.</li>
  <li>If you would like, we do have a House Blend dog food available at an additional charge, though we do recommend keeping your dog on it's own consistent diet.</li>
  <li>Make sure to bring any belongings or personal items you would like to have with your dog during it's vacation with us.</li>
  <li>Make sure you have all transportation arranged with the front desk if you are using a pick up/drop off service</li>
  <li>If your dog has allergies or medications be certain to let the front desk know or make a note on your online reservation including medicine instructions.</li>
  <li>Be certain that all of your vaccinations are up to date and that you have read our check in and check out policies.</li>
  <li>Apply your monthly Frontline or flea and tick prevention prior to arrival.</li>
</ul>

<h3>Departure Checklist</h3>
<ul>
  <li>We carefully inventory all items upon arrival and departure but just incase, you can check to be certain all of your items have been returned with your pup.</li>
  <li>If you have scheduled a bath prior to departure please let us know what time you expect to depart so that we have plenty of time for your fur-baby to dry off.</li>
  <li>Please be certain to read our check-in and check-out policies prior to arrival and departure, and contact us if you have any questions; we are here to assist you in any way we can.</li>
  <li>Don't forget your report card!</li>
</ul>

<h3>Healthy and Safe Guests</h3>
<p>At Dog, the health and safety of your pet is our number one priority. All pets must be in good health and current on all required vaccinations prior to check-in. Every pet guest is evaluated upon arrival to ensure they’re in good health prior to joining the pack or entering their suite.</p>
<p>Pets must not have been exposed to any contagious or communicable diseases 30-days prior to their visit/stay at Dog.  A pet showing signs of an illness will be further evaluated.
  Additionally, all pet guests must pass a temperament evaluation prior to being allowed into the pack for the safety of other guests and staff.</p>
<p><strong>All dogs must be on monthly flea and tick prevention.</strong></p>

<h3>Information Regarding Kennel Cough</h3>
<p>Bordetella, better known as Kennel Cough, is an airborne upper respiratory infection similar to the common cold in humans. Out of 57 Bordetella strains, the current vaccination only protects your dog against 14.</p>
<p>While there is currently no way to completely protect your pet from kennel cough due its airborne qualities, and various strains, the staff at Dog makes every effort to protect the health of your pet. Dog has a strict sanitization policy that includes the daily disinfecting of our Daycare areas, playground equipment and toys with non-toxic disinfectants and sanitizers. Dog staff washes all of our stainless steel water and food bowls in a high heat, commercial grade dishwasher. After each use, our staff washes and dries all blankets, bedding, and bed pads in on-site. Put simply, every inch of Dog is sanitized, 365 days a year.</p>
<p>Part of our responsibility to our clients is the safety of their pet. Dog. goes above and beyond industry standards to ensure our guests leave as happy as we are to care for them.</p>

<h3>Vaccination Requirements</h3>
<p><strong>The following vaccination requirements are for dogs participating in any Daycare, Day Stay, or Boarding services at Dog.</strong></p>
<p>For the safety of all pet guests at Dog, each guest must meet all vaccination requirements. Pets requiring updated vaccinations must be vaccinated prior to arrival/check in or will be declined for their visit or stay. Dog requires that bordetella immunizations are given at least 7 days prior to your pets arrival. A hard copy of your pet’s vaccination records are required.</p>
<p>Dog reserves the right to refuse admittance to any pet guest for any reason, at any time. Refusal may include those Pet Guests that do not have adequate documentation of vaccinations, show signs of an illness or health condition, demonstrate aggressive behavior or fail to meet the temperament and health requirements of our facility. Please refer to our Boarding and Services Agreement for more information.</p>

<h4>Please Note</h4>
<ul>
  <li>All dogs, including puppies, must have received their Bordetella vaccine at least seven (7) days prior to their arrival at Dog.</li>
  <li>Puppies (over 4 months old) must have completed their full series of vaccinations, including Bordetella and Rabies before being admitted.</li>
</ul>

<h4>Schedule</h4>
<table>
  <thead>
  <tr>
    <td>Vaccine</td>
    <td>How Often Needed</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>DHLPP</td>
    <td>Yearly</td>
  </tr>
  <tr>
    <td>Bordetella</td>
    <td>Yearly</td>
  </tr>
  <tr>
    <td>Rabies</td>
    <td>Yearly or every 3 years depending on the vaccine</td>
  </tr>
  </tbody>
 </table>