<section class="content">
  <h2>Contact Dog Hotel and Daycare</h2>

  <div class="row">
    <div class="group">
      <h3>Drop Us a Line</h3>
      <form method="post" action="/contact">
        <div class="row">
          <label>Your Name</label>
          <input type="text" id="name" name="name">
        </div>

        <div class="row">
          <label>Your Email Address</label>
          <input type="email" id="email" name="email">
        </div>

        <div class="row">
          <label>Message</label>
          <textarea id="message" name="message"></textarea>
        </div>

        <div class="row actions">
          <button type="submit">Send Message</button>
        </div>
      </form>

      <h3>Or Give Us a Call (312) 895-3777</h3>
    </div><div class="group">
      <h3>Our Location</h3>
      <p>We're located in beautiful down town Chicago.</p>
      <address>1030 N. Halsted<br>Chicago, IL 60642</address>

      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1030%20N%20Halsted%20St%2C%20Chicago%2C%20IL%2C%20United%20States&key=AIzaSyCr74rpn-ej3EB5etTyTH5dEtA2XDRFz2s"></iframe>
    </div>
  </div>

</section>