<div class="row webcams">
  <div class="group">
    <a href="" onclick="enlargeWebcam('dcam1', 'dcam1Password');"><img src="/media/daycare-big-cam.jpeg" data-src="http://23.25.2.205:81/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=bigdog&t=1428103537" id="dcam1"></a>
    <h4>Big Dogs</h4>
    <p>Enter password to unlock:</p>
    <form style="text-align: inherit;"> 
      <input type="password" id="dcam1Password" name="dcam1Password" placeholder="password">
      <button type="submit" class="small" onclick="unlock('dcam1');">Unlock</button>
    </form>
  </div><div class="group">
  <a href="" onclick="enlargeWebcam('dcam2', 'dcam2Password')"><img src="/media/daycare-medium-cam.jpeg" data-src="http://23.25.2.205:82/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=meddog&t=1428105839" id="dcam2"></a>
  <h4>Medium Dogs</h4>
  <p>Enter password to unlock:</p>
  <form style="text-align: inherit;">
    <input type="password" id="dcam2Password" name="dcam2Password" placeholder="password">
    <button type="submit" class="small" onclick="unlock('dcam2');">Unlock</button>
  </form>
</div>

<div class="row webcams">
  <div class="group">
    <a href="" onclick="enlargeWebcam('dcam3', 'dcam3Password');"><img src="/media/daycare-tiny-cam.jpeg" data-src="http://23.25.2.205:83/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=small&t=1428105784" id="dcam3"></a>
    <h4>Small Dogs</h4>
    <p>Enter password to unlock:</p>
    <form style="text-align: inherit;">
        <input type="password" id="dcam3Password" name="dcam3Password" placeholder="password">
        <button type="submit" class="small" onclick="unlock('dcam3');">Unlock</button>
    </form>
    </div><div class="group">
        <a href="" onclick="enlargeWebcam('dcam4', 'dcam4Password')"><img src="/media/daycare-medium-cam.jpeg" data-src="http://23.25.2.205:99/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=tiny&t=1428105839" id="dcam4"></a>
        <h4>Tiny Land</h4>
        <p>Enter password to unlock:</p>
        <form style="text-align: inherit;">
            <input type="password" id="dcam4Password" name="dcam4Password" placeholder="password">
            <button type="submit" class="small" onclick="unlock('dcam4');">Unlock</button>
        </form>
    </div>
</div>