<div class="background background-daycare"></div>

<section class="content">
  <h2>Dog Daycare Services</h2>
  <p>Our staff has years of experience in the pet-care industry and have been specially trained to care for your pup while you are at work or on vacation. </p>

  <hr>

  <h3>Why Choose Daycare?</h3>
  <p>Daycare is the best alternative to leaving your dog home alone. Dogs that are left at home lack the exercise and socialization that they need to be happy, healthy pets! Dogs may also suffer from separation anxiety or engage in undesirable behaviors such as excessive chewing or barking out of boredom.</p>
  <p>Daycare provides your dogs with a safe, fun, and engaging atmosphere where they can spend the day running, playing and socializing with other dogs. Let your dog be a dog, and join us at Dog Hotel and Daycare!</p>

  <hr>

  <h3>The Dog Experience</h3>
  <p>The Dog Daycare experience is unlike any other that you will find. We pride ourselves on having a custom built facility that provides our pet guests with a fun, safe, and healthy experience.</p>
  <p>We offer our Daycare guests four large separate play areas. All of our playrooms are created with sustainable and durable materials to stand up to the toughest of play-pals. All of the materials used to create your pup's play area are non-porous. Meaning, your dog benefits from the cleanliest of environments!</p>
  <p>Dogs are separated to daycare groups based on their size, temperament and play style, to guarantee the best experience possible. All of our Daycare areas come equipped with custom dog-friendly playground equipment, epoxy floors, and a trained staff supervising at all times.</p>
</section>

<section id="amenities" class="content alternate-section">
  <h3>Amenities</h3>
  <div class="row">
    <div class="group">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-asterisk"></i>Four large, spacious, and separate play areas.</li>
        <li><i class="fa-li fa fa-asterisk"></i>Play groups are based on pets size, temperament and play style.</li>
        <li><i class="fa-li fa fa-asterisk"></i>Open 24/7 for pick-ups and drop-offs</li>
        <li><i class="fa-li fa fa-asterisk"></i>Trained staff in each play area at all times.</li>
        <li><i class="fa-li fa fa-asterisk"></i>Commerical Wet/Dry Vacuum System for cleaning</li>
        <li><i class="fa-li fa fa-asterisk"></i>Epoxy Sealed Floors</li>
      </ul>
    </div><div class="group">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-asterisk"></i>Custom playground equipment specifically made for dogs.</li>
        <li><i class="fa-li fa fa-asterisk"></i>Web cams installed in all of our Daycare areas. Visit our web cam page for access.</li>
        <li><i class="fa-li fa fa-asterisk"></i>Ample amounts of fresh drinking water in each play area.</li>
        <li><i class="fa-li fa fa-asterisk"></i>7 full hours of group playtime (potty breaks for non-play hours)</li>
      </ul>
    </div>
  </div>
</section>

<section id="prices" class="content">
  <h3>Full Day Packages</h3>
  <div class="row percent-25">
    <div class="group price">
      <h4>10 Day Package</h4>
      <span class="amount"><i class="fa fa-dollar"></i>280<sup>00</sup></span>
      <span class="footer">$28.00 / day</span>
    </div><div class="group price">
      <h4>10 Day /w Transport</h4>
      <span class="amount"><i class="fa fa-dollar"></i>330<sup>00</sup></span>
      <span class="footer">$33.00 / day</span>
    </div><div class="group price">
      <h4>20 Day Package</h4>
      <span class="amount"><i class="fa fa-dollar"></i>520<sup>00</sup></span>
      <span class="footer">$26.00 / day</span>
    </div><div class="group price">
      <h4>20 Day /w Transport</h4>
      <span class="amount"><i class="fa fa-dollar"></i>600<sup>00</sup></span>
      <span class="footer">$30.00 / day</span>
    </div>
  </div>

  <h3>Second Playmate Packages</h3>
  <div class="row percent-25">
    <div class="group price">
      <h4>10 Day Package</h4>
      <span class="amount"><i class="fa fa-dollar"></i>210<sup>00</sup></span>
      <span class="footer">$21.00 / day</span>
    </div><div class="group price">
    <h4>10 Day /w Transport</h4>
    <span class="amount"><i class="fa fa-dollar"></i>270<sup>00</sup></span>
    <span class="footer">$27.00 / day</span>
  </div><div class="group price">
    <h4>20 Day Package</h4>
    <span class="amount"><i class="fa fa-dollar"></i>390<sup>00</sup></span>
    <span class="footer">$19.50 / day</span>
  </div><div class="group price">
    <h4>20 Day /w Transport</h4>
    <span class="amount"><i class="fa fa-dollar"></i>400<sup>00</sup></span>
    <span class="footer">$20.00 / day</span>
  </div>
  </div>

  <p>*<i>For guests with more than two dogs, please <a href="/contact">Contact Us</a> for special pricing.</i></p>
</section>

<section class="content">
  <h3>We Know You Miss Them</h3>
  <p>Current customers can unlock our Daycare Webcams to check in on their little guy.</p>
  {{> daycareCamsPartial }}
</section>

{{> healthPartial }}

<!-- webcams -->
<script src="/scripts/webcams.js"></script>