<div class="row percent-33 webcams">
  <div class="group">
    <img src="/media/daycare-big-cam.jpeg" data-src="http://69.38.192.54:81/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=bigdog&t=1428103537" id="cam1">
    <h4>Big Dogs</h4>
    <p>Enter password to unlock:</p>
    <input type="password" id="cam1Password" name="cam1Password" placeholder="password">
    <button type="button" class="small" onclick="unlock('cam1');">Unlock</button>
  </div><div class="group">
  <img src="/media/daycare-medium-cam.jpeg" data-src="http://69.38.192.54:82/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=meddog&t=1428105839" id="cam2">
  <h4>Medium/Small Dogs</h4>
  <p>Enter password to unlock:</p>
  <input type="password" id="cam2Password" name="cam2Password" placeholder="password">
  <button type="button" class="small" onclick="unlock('cam2');">Unlock</button>
</div><div class="group">
  <img src="/media/daycare-tiny-cam.jpeg" data-src="http://69.38.192.54:83/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=smalldog&t=1428105784" id="cam3">
  <h4>Tiny Dogs</h4>
  <p>Enter password to unlock:</p>
  <input type="password" id="cam3Password" name="cam3Password" placeholder="password">
  <button type="button" class="small" onclick="unlock('cam3');">Unlock</button>
</div>
</div>