<section class="content alternate-section2">
  <h2>Frequently Asked Questions</h2>

  <a href="#minimum-age">What is your minimum age when accepting a dog for boarding or daycare?</a>
  <p>As always, our primary concern is the welfare of the dogs in our care. It is generally recommended that puppies get their first round of “adult” shots at 12 weeks and a puppy can be involved in group care once two weeks have passed from the date of their initial vaccinations.</p>

  <a href="#disease">Can my pet catch a disease by being around other pets?</a>
  <p>Your pet can be exposed to diseases regardless of where they are, whether at home, at a dog park, taking a walk in your neighborhood, or staying at our hotel. However, the risk of contracting a disease is quite low and virtually eliminated when proper vaccinations are administered (as we require). In addition, we maintain very high sanitation standards and we do everything we can to prevent transmittable diseases from occurring in our hotels.</p>

  <a href="#drinks">My dog drinks non-stop when he gets home from Dog Hotel & Daycare. Why does he come home so thirsty?</a>
  <p>This is not uncommon. What often happens is that dogs spend so much time playing with each other that they sometimes forget to stop and take a drink. For those parents that have children, it is similar to a child forgetting to eat lunch because they are so busy playing with their friends. Please know that we offer multiple sources of water in each play area and every dog has a bowl of fresh water in their suite at all times.</p>

  <a href="#same-suite">Can all of my dogs stay together in the same suite?</a>
  <p>Yes, we actually encourage dogs from the same home to stay together. We find that dogs from the same home usually do better when they stay with their siblings or buddies.</p>

  <a href="#walks">While my dog is boarding with you, will he be taken out for walks? </a>
  <p>Sorry, we can’t take dogs outside of our facility simply because outdoor environments are not as safe as our controlled indoor environment. By taking dogs outside for walks, any number of things could happen: they could step on a piece of glass, ingest something harmful, or escape from their leash. It would be regrettable if any of those things occurred so we keep all of our dogs inside.</p>

  <a href="#outdoor">Do you have any outdoor areas? Where is my dog going to go to the bathroom when in your care?</a>
  <p>For the same reason we can’t offer outdoor walks, we don’t have an area open to the outdoors. It is nearly impossible to control and protect an outdoor environment where someone could throw something over the fence that could harm your dog.</p>

  <a href="#toys">My pets like to have toys with them. Can they have their favorite toys while boarding with you?</a>
  <p>Absolutely. Your dog can have his favorite toy in his suite during his boarding stay. However, we do not allow toys in the play areas where dogs can sometimes become aggressive if they haven’t learned to share. </p>

  <a href="#diet">My dog is on a special diet. Can I bring in my own food?</a>
  <p>Of course. We actually encourage pet parents to bring their dog’s normal food with them when they come to the hotel. If you cannot or would rather not supply your own food, or if we run out of your dog’s food while you’re away, we’ll be happy to accommodate your dog by feeding him or her with our house food.</p>

  <a href="#medication">Are you able to administer medication if my dog needs it?</a>
  <p>We’re able to provide medication to your pet whenever he needs it. We can even administer insulin shots if so needed.</p>

  <a href="#breed">Does Dog Hotel & Daycare accept all breeds of dog?</a>
  <p>Yes, we love all dogs and do not discriminate based on breed, age, alteration or size. If your dog is social, he/she will get the same amount of time in our play groups as any other dog regardless of breed. If your dog is not social with other dogs, he/she will get individual play time with a staff member. We do not, however, accept dogs that are aggressive with people. We have a very hands-on facility that requires us to work closely with all of our guests and we cannot do that effectively if your dog is aggressive towards people.</p>

  <a href="#lonely">Are the dogs at Dog Hotel & Daycare ever left alone?</a>
  <p>Our hotel is staffed 24-hours each day, 7 days each week so your dog is never truly alone. However, as you would probably expect, they will be by themselves during the night when they’re sleeping in their suites, unless they have a buddy boarding with them.</p>

  <a href="#bed">Can I bring my dog’s own bed?</a>
  <p>Sure. We’re happy to have your dog sleep on his or her bed when they’re with us if it makes them feel more comfortable.</p>

  <a href="#times">What times can I drop off and pick up my dog?</a>
  <p>Our normal lobby hours are from 7am to 7pm, seven days a week. However, we have staff at the hotel 24 hours each day and you can drop off and pick up your dog at any time. Please note that an additional fee may apply for after-hours check-in or check-out.</p>

</section>