<section class="content">
  <h3>Healthy and Safe Guests</h3>
  <p>At Dog, the health and safety of your pet is our number one priority. All pets must be in good health and current on all required vaccinations prior to check-in. Every pet guest is evaluated upon arrival to ensure they’re in good health prior to joining the pack or entering their suite.</p>
  <p>Pets must not have been exposed to any contagious or communicable diseases 30-days prior to their visit/stay at Dog.  A pet showing signs of an illness will be further evaluated.
    Additionally, all pet guests must pass a temperament evaluation prior to being allowed into the pack for the safety of other guests and staff.</p>
  <p><strong>All dogs must be on monthly flea and tick prevention.</strong></p>
</section>

<section class="content alternate-section">
  <h3>Vaccination Requirements</h3>
  <p><strong>The following vaccination requirements are for dogs participating in any Daycare, Day Stay, or Boarding services at Dog.</strong></p>
  <p>For the safety of all pet guests at Dog, each guest must meet all vaccination requirements. Pets requiring updated vaccinations must be vaccinated prior to arrival/check in or will be declined for their visit or stay. Dog requires that bordetella immunizations are given at least 7 days prior to your pets arrival. A hard copy of your pet’s vaccination records are required.</p>
  <p>Dog reserves the right to refuse admittance to any pet guest for any reason, at any time. Refusal may include those Pet Guests that do not have adequate documentation of vaccinations, show signs of an illness or health condition, demonstrate aggressive behavior or fail to meet the temperament and health requirements of our facility. Please refer to our Boarding and Services Agreement for more information.</p>

  <h4>Please Note</h4>
  <div class="row">
    <div class="group">
      <ul>
        <li><i class="fa-li fa fa-asterisk"></i> All dogs, including puppies, must have received their Bordetella vaccine at least seven (7) days prior to their arrival at Dog.</li>
      </ul>
    </div><div class="group">
      <ul>
        <li><i class="fa-li fa fa-asterisk"></i> Puppies (over 4 months old) must have completed their full series of vaccinations, including Bordetella and Rabies before being admitted.</li>
      </ul>
    </div>
  </div>


  <h4>Schedule</h4>
  <table class="price-table">
    <thead>
    <tr>
      <td>Vaccine</td>
      <td>How Often Needed</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>DHLPP</td>
      <td>Yearly</td>
    </tr>
    <tr>
      <td>Bordetella</td>
      <td>Yearly</td>
    </tr>
    <tr>
      <td>Rabies</td>
      <td>Yearly or every 3 years depending on the vaccine</td>
    </tr>
    </tbody>
  </table>
</section>

<section class="content alternative2-content">
  <h3>Information Regarding Kennel Cough</h3>
  <p>Bordetella, better known as Kennel Cough, is an airborne upper respiratory infection similar to the common cold in humans. Out of 57 Bordetella strains, the current vaccination only protects your dog against 14.</p>
  <p>While there is currently no way to completely protect your pet from kennel cough due its airborne qualities, and various strains, the staff at Dog makes every effort to protect the health of your pet. Dog has a strict sanitization policy that includes the daily disinfecting of our Daycare areas, playground equipment and toys with non-toxic disinfectants and sanitizers. Dog staff washes all of our stainless steel water and food bowls in a high heat, commercial grade dishwasher. After each use, our staff washes and dries all blankets, bedding, and bed pads in on-site. Put simply, every inch of Dog is sanitized, 365 days a year.</p>
  <p>Part of our responsibility to our clients is the safety of their pet. Dog. goes above and beyond industry standards to ensure our guests leave as happy as we are to care for them.</p>
</section>