<section class="content alternate2-section">
  <h3>Health and Safety</h3>
  <p>We take health and safety of our guests very seriously.</p>
  <p>At Dog, the health and safety of your pet is our number one priority. All pets must be in good health and current on all required vaccinations prior to check-in. Every pet guest is evaluated upon arrival to ensure they’re in good health prior to joining the pack or entering their suite.</p>
  <p><a href="/health" class="button">View Health and Safety Information</a></p>
</section>