<img src="/media/lobby.jpg" class="background">

<section class="content">
  <section class="row percent-33">
    <div class="group teaser">
      <img src="/media/dog1.jpg" width="75%">
      <div class="teaser-content">
        <h3><span>Dog</span> Play</h3>
        <p>At Dog Chicago, we play with each and every one of our guests to ensure a healthy, happy, experience.</p>
        <a href="/daycare" class="button">Dog daycare in Chicago</a>
      </div>
    </div><div class="group teaser">
      <img src="/media/dog2.jpg" width="75%">
      <div class="teaser-content">
        <h3><span>Dog</span> Care</h3>
        <p>We care about your dogs and look after their well being during their stay.  Dogs receive top notch amenities and access to the best facilities.</p>
        <a href="/boarding" class="button">Dog boarding in Chicago</a>
      </div>
    </div><div class="group teaser">
      <img src="/media/dog3.jpg" width="75%">
      <div class="teaser-content">
        <h3><span>Dog</span> Love</h3>
        <p>It's just our nature, we can't help but love these dogs.  Whether spending a day at our spa or just a few minutes visiting, we love spending time with your dog.</p>
        <a href="/spa" class="button">Dog spa treatments</a>
      </div>
    </div>
  </section>
</section>