<!--<section id="specials" class="specials">-->
  <!--<h3>Spring Break Special!</h3>-->
  <!--<p>2 stays for the price of one!<br> <a href="/reservation/new" class="button">Reserve your spot now</a></p>-->
<!--</section>-->

<div class="carousel">
  <div><img data-lazy="/media/lobby2.jpg" alt="Dog Hotel and Daycare Lobby" title="Welcome to Dog Hotel and Daycare" class="intro-background"></div>
  <div><img data-lazy="/media/lobby.jpg" alt="Dog Hotel and Daycare Lobby" title="Welcome to Dog Hotel and Daycare" class="intro-background"></div>
  <div><img data-lazy="/media/boarding-header.jpg" alt="Dog Boarding" title="Dog Boarding" class="intro-background"></div>
</div>

<section id="mission" class="content alternate-section">
  <h2>Welcome to Dog. Hotel | Daycare</h2>
  <p>Our mission is to provide an unmatched experience for dogs and their owners and create a new standard in dog care, which includes unbeatable protection for the health and safety of our four legged companions. Here at Dog. Hotel|Daycare we love dogs, and they love us!</p>
  <img src="/media/IBPSA-logo.png" alt="IBPSA Member" title="IBPSA Member">
</section>

<section id="teasers" class="row percent-33 teasers">
  <div class="group teaser">
    <a href="/daycare"><img src="/media/dog1.jpg" alt="Dog Daycare in Chicago" title="Dog Daycare in Chicago" style="width: 75%;"></a>
    <div class="teaser-content">
      <h3><span>Dog</span> Daycare</h3>
      <p>At Dog Chicago, we play with each and every one of our guests to ensure a healthy, happy, experience.</p>
      <a href="/daycare" class="button">Dog daycare in Chicago</a>
    </div>
  </div><div class="group teaser">
    <a href="/boarding"><img src="/media/dog5.jpg" alt="Dog Boarding in Chicago" title="Dog Boarding in Chicago" style="width: 75%;"></a>
    <div class="teaser-content">
      <h3><span>Dog</span> Hotel</h3>
      <p>We care about your dogs and look after their well being during their stay.  Dogs receive top notch amenities and access to the best facilities.</p>
      <a href="/boarding" class="button">Dog boarding in Chicago</a>
    </div>
  </div><div class="group teaser">
    <a href="/spa"><img src="/media/dog4.jpg" alt="Dog Spa in Chicago" title="Dog Spa in Chicago" style="width: 75%;"></a>
    <div class="teaser-content">
      <h3><span>Dog</span> Spa</h3>
      <p>It's just our nature, we can't help but love these dogs.  Whether spending a day at our spa or just a few minutes visiting, we love spending time with your dog.</p>
      <a href="/spa" class="button">Dog spa treatments</a>
    </div>
  </div>
</section>

<section class="content alternate2-section">
  <h3>Miss Your Pup?</h3>
  <p>View our webcam page for password protected access to view your pup while away.</p>
  <a href="/webcams" class="button" style="background-color: rgb(255, 139, 212);">View Webcams</a>
</section>