<section class="content">
  <h2>New Daycare &amp; Boarding Rates for Dog. Hotel | Daycare</h2>
  <i>Effective: March 1st, 2017</i>

  <h3>Daycare Rates</h3>
  <p>10 Day Pass - $310<br>
    20 Day Pass - $580</p>

  <p>2nd Dog 10 Day Pass - $240<br>
    2nd Dog 20 Day Pass - $460</p>

  <p>ADDING Transportation (transport will add $3.50 per way or $7 per day per dog to rates above).</p>

  <p>10 Day Pass - $380<br>
    20 Day Pass - $710</p>

  <p>2nd Dog 10 Day Pass - $310<br>
    2nd Dog 20 Day Pass - $600</p>

  <h3>Boarding Rates</h3>
  <i>Dogs must share suites to get discounted rates.</i>

  <p>Junior Suite - $55<br>
    Deluxe Suite - $85<br>
    Grand Suite - $115</p>

  <p>2nd Dog Rate (25% off)</p>

  <p>Junior Suite - $41<br>
    Deluxe Suite - $64<br>
    Grand Suite - $85</p>

  <p>3rd Dog Rate (50% off)</p>

  <p>Junior Suite - $30<br>
    Deluxe Suite - $48<br>
    Grand Suite - $64</p>
</section>