<section class="content">
  <h2>Returning Guest Reservation</h2>
  <form method="post" action="/reservation/returning">
    <div class="row">
      <label for="email" class="required">Email address from past visit</label>
      <input type="email" id="email" name="email">
    </div>

    <div class="row">
      <label for="dropOff" class="required">Drop Off / Pick Up</label>
      <input type="date" id="dropOff" name="dropOff" class="datepicker" required>
      <input type="date" id="pickUp" name="pickUp" class="datepicker" required>
    </div>

    <div class="row">
      <label for="numberOfGuests" class="required">Number of Guests</label>
      <input type="number" id="numberOfGuests" name="numberOfGuests" required>
    </div>

    <div class="row">
      <label for="petName" class="required">Pet's Name</label>
      <input type="text" id="petName" name="petName" required>
    </div>

    {{> roomsPartial }}

    <div class="row">
      <label for="notes">Additional Notes or Comments</label>
      <textarea id="notes" name="notes"></textarea>
    </div>

    <div class="row">
      <label class="checkbox required"><input type="checkbox" required>I agree to the <a href="/terms">terms of service</a></label>
    </div>

    <div class="row">
      <button type="submit">Request Reservation</button>
    </div>
  </form>
</section>