<section class="content" ng-controller="returningReservationController">
  <h2>Returning Guest Reservation</h2>
  <form id="form1" method="post" action="/reservation/returning">
    <div class="row">
      <label for="email" class="required">Email address from past visit</label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="row">
      <div class="group">
        <label for="dropOff" class="required">Drop Off</label>
        <input type="text" id="dropOff" name="dropOff" class="datetimepicker" required>
      </div><div class="group">
        <label for="pickUp" class="required">Pick Up</label>
        <input type="text" id="pickUp" name="pickUp" class="datetimepicker" required>
      </div>
    </div>

    <div class="row">
      <label for="numberOfGuests" class="required">Number of Guests</label>
      <input type="number" id="numberOfGuests" name="numberOfGuests" required ng-model="numberOfGuests">
    </div>

    <div ng-repeat="guest in guests">

      <div class="row">
        <label for="petName" class="required">Pet's Name</label>
        <input type="text" id="petName" name="petName" required>
      </div>

      {{> roomsPartial }}

    </div>

    <div class="row">
      <label for="notes">Additional Notes or Comments</label>
      <textarea id="notes" name="notes"></textarea>
    </div>

    <div class="row">
      <label class="checkbox required"><input type="checkbox" required>I agree to the <a href="/terms">terms of service</a></label>
    </div>

    <div class="row">
      <button type="submit">Request Reservation</button>
    </div>
  </form>
</section>