<div class="background background-spa"></div>

<section class="content alternate-section">
  <h2>Your Dog Deserves a Spa Day!</h2>
  <p>See some of our lavish services for your pampered pup.</p>
</section>

<section class="content">
  <h3>Treatments</h3>
  <div class="row percent-33">
    <div class="group">
      <h4>Bath, Brush &amp; Blowout</h4>
      <table class="price-table">
        <thead>
        <tr>
          <th>Pup Size</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Pups under 20lbs</td>
          <td>$35.00</td>
        </tr>
        <tr>
          <td>Pubs between 20lbs and 50lbs</td>
          <td>$45.00</td>
        </tr>
        <tr>
          <td>Pups between 50lbs and 100lbs</td>
          <td>$55.00</td>
        </tr>
        <tr>
          <td>Pups over 100lbs</td>
          <td>$65.00</td>
        </tr>
      </table>
      <p><i>Includes nail trim, tooth brushing and ear cleaning.</i></p>
    </div><div class="group">
    <h4>Nail Trim</h4>
    <table class="price-table">
      <thead>
      <tr>
        <th>Pup Size</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>All Pups</td>
        <td>$25.00</td>
      </tr>
    </table>
    </div><div class="group">
    <h4>De-Shed Treatment</h4>
    <table class="price-table">
      <thead>
      <tr>
        <th>Pup Size</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Pups under 20lbs</td>
        <td>$50.00</td>
      </tr>
      <tr>
        <td>Pubs between 20lbs and 50lbs</td>
        <td>$75.00</td>
      </tr>
      <tr>
        <td>Pups between 50lbs and 100lbs</td>
        <td>$85.00</td>
      </tr>
      <tr>
        <td>Pups over 100lbs</td>
        <td>$100.00</td>
      </tr>
      </tbody>
    </table>
    <p><i>Includes complete bath.</i></p>
    </div>
  </div>
</section>

<section class="content alternate2-section">
  <h3>Would You Like to Know More?</h3>
  <a href="/contact">Contact us</a> for more information on spa days.
</section>