<div class="background background-spa"></div>

<section class="content">
  <h2>Your Dog Deserves a Spa Day!</h2>
  <p>See some of our lavish services for your pampered pup.</p>

  <h3>Treatments</h3>
  <h4>Bath, Brush &amp; Blowout</h4>
  <p>Includes nail trim, tooth brushing and ear cleaning.</p>
  <p>$35 For Pups Under 20lbs<br>
    $45 For Pups Between 20lbs-50lbs<br>
    $55 For Pups Between 50lbs-100lbs<br>
    $65 For Pups Over 100lbs</p>

  <h4>Nail Trim</h4>
  <p>$25 For All Pups</p>

  <h4>De-Shed Treatment</h4>
  <p>Includes complete bath.</p>
  <p>$50  For Pups Under 20lbs<br>
    $75  For Pups Between 20lbs and 50lbs<br>
    $85  For Pups Between 50lbs and 100lbs<br>
    $100 For Pups Over 100lbs</p>

  <a href="/contact">Contact us</a> for more information on spa days.
</section>