<section class="content">
  <h1>A Flight to Remember</h1>

  <h2>A Bicyclops Built For Two</h2>
  <p>I am the man with no name, Zapp Brannigan! You're going to do his laundry? With gusto. Look, last night was a mistake. Ah, yes! John Quincy Adding Machine.  He struck a chord with the voters when he pledged not to go on a killing spree.</p>
  <ul>
    <li>Anyone who laughs is a communist!</li>
    <li>You wouldn't. Ask anyway!</li>
    <li>Bender, hurry! This fuel's expensive! Also, we're dying!</li>
  </ul>
  <h3>The Why of Fry</h3>
  <p>Our love isn't any different from yours, except it's hotter, because I'm involved. And yet you haven't said what I told you to say! How can any of us trust you? Pansy.</p>
  <p>We don't have a brig. Yeah. Give a little credit to our public schools. I'm Santa Claus!</p>
  <h4>The Deep South</h4>
  <p>And remember, don't do anything that affects anything, unless it turns out you were supposed to, in which case, for the love of God, don't not do it! But I've never been to the moon! Guess again. You don't know how to do any of those. Now that the, uh, garbage ball is in space, Doctor, perhaps you can help me with my sexual inhibitions?</p>
  <ol>
    <li>Moving along&hellip;</li>
    <li>You're going back for the Countess, aren't you?</li>
    <li>We don't have a brig.</li>
  </ol>
  <h5>The 30% Iron Chef</h5>
  <p>Hello, little man. I will destroy you! Yes, except the Dave Matthews Band doesn't rock. Look, everyone wants to be like Germany, but do we really have the pure strength of 'will'? Whoa a real live robot; or is that some kind of cheesy New Year's costume?</p>
</section>