<section class="content">
  <h2>Terms and Conditions</h2>
  <p>Please read carefully our terms and conditions for safe boarding.</p>

  <h3>Health Requirements</h3>
  <p>We take some simple but necessary precautions.</p>
  <p>For the health and safety of our guests, dogs entering Dog Hotel & Daycare for any of our services must be current in the following vaccinations and screenings:</p>
  <p>
    Distemper/Parvo or proof of titers<br>
    Rabies if over 5 months of age<br>
    Annual Bordetella vaccine<br>
    Annual Fecal test
  </p>
  <p>Please have your vet’s office call or email us confirmation or bring photocopies upon Check-In.</p>

  <h3>Standard Check-in / Check-out</h3>
  <p>Standard Hotel Check-Out is at noon, seven days a week.* Any dogs checking in or out outside of our normal hours will be subject to additional fees. Please see Off-Hours below.</p>

  <h3>Off-hours Check-in / Check-out</h3>
  <p>Please note that although we are open for Check-In and Check-Out 24 hours, our Lobby Hours are from 7 am to 7 pm.</p>

  <h4>Early Check-In</h4>
  <p>If checking in prior to 5 am, a $50 fee will be assessed.</p>

  <h4>Late Check-Out</h4>
  <p>A $25 half-day charge will be assessed if pet is picked up between noon and 10 pm.</p>
  <p>After 10 pm up another full night will be charged.</p>

  <h3>Cancellation Policy</h3>
  <p>If we do not receive your cancellation within the timeframe listed below or if you are a no-show, the credit card on file will be charged for the reservation in its entirety.</p>
  <p>Advance notice for cancellation:</p>
  <p>Fourteen days in advance of high season reservations that include November 20-November 30 and December 22-January 2.*</p>
  <p>Seven days in advance for holiday reservations that include Memorial Day, 4th of July or Labor Day.</p>
  <p>One business day for non-holiday reservations.</p>
  <p>*When making reservations for the periods of November 20-November 30 and December 22-January 2, please be advised that a 50% non-refundable deposit is required.</p>

  <h3>Licenses</h3>
  <p>Dog Hotel & Daycare complies with all local, state and federal licensing requirements. If you have questions, please enquire with the front desk.</p>
</section>