<section class="content">
  <h2>Terms and Conditions</h2>
  <p>Please read carefully our terms and conditions for safe boarding.</p>

  <h3>Health Requirements</h3>
  <p>We take some simple but necessary precautions.</p>
  <p>For the health and safety of our guests, dogs entering Dog Hotel & Daycare for any of our services must be current in the following vaccinations and screenings:</p>
  <p>
    Distemper/Parvo or proof of titers<br>
    Rabies if over 5 months of age<br>
    Annual Bordetella vaccine<br>
    Annual Fecal test
  </p>
  <p>Please have your vet’s office call or email us confirmation or bring photocopies upon Check-In.</p>

  <h3>Standard Check-in / Check-out</h3>
  <p>Standard Hotel Check-Out is at noon, seven days a week.* Any dogs checking in or out outside of our normal hours will be subject to additional fees. Please see Off-Hours below.</p>

  <h3>Off-hours Check-in / Check-out</h3>
  <p>Please note that although we are open for Check-In and Check-Out 24 hours, our Lobby Hours are from 7 am to 7 pm.</p>

  <h4>Early Check-In</h4>
  <p>If checking in prior to 5 am, a $50 fee will be assessed.</p>

  <h4>Late Check-Out</h4>
  <p>A $25 half-day charge will be assessed if pet is picked up between noon and 10 pm.</p>
  <p>After 10 pm up another full night will be charged.</p>

  <h3>Cancellation Policy</h3>
  <p>If we do not receive your cancellation within the timeframe listed below or if you are a no-show, the credit card on file will be charged for the reservation in its entirety.</p>
  <p>Advance notice for cancellation:</p>
  <p>Fourteen days in advance of high season reservations that include November 20-November 30 and December 22-January 2.*</p>
  <p>Seven days in advance for holiday reservations that include Memorial Day, 4th of July or Labor Day.</p>
  <p>One business day for non-holiday reservations.</p>
  <p>*When making reservations for the periods of November 20-November 30 and December 22-January 2, please be advised that a 50% non-refundable deposit is required.</p>

  <h3>Licenses</h3>
  <p>Dog Hotel & Daycare complies with all local, state and federal licensing requirements. If you have questions, please enquire with the front desk.</p>

  <h2>Agreement, Release, and Medical Power of Attorney</h2>
  <p>Terms. DOG. Hotel Daycare, LLC . is doing business as DOG. (hereinafter referred to as “DOG.”). Dogs may only be dropped-of or picked-up
during DOG.’s posted normal business hours. All dog owners must provide a valid credit card number prior to any service being provided by
DOG.. By signing this Agreement, you are authorizing DOG. to charge your card for any services rendered by DOG., including veterinary fees,
food, or any other charges that your dog may incur while at DOG.. Any charges not paid in full upon an owner or owners agent picking up his or
her dog will be charged to the credit card on file. DOG. operates a clean and safe environment for dogs. However, as dog owners know,
accidents happen! DOG. will use its best efforts to maintain its facilities in a safe and sanitary manner. By signing this Agreement, I represent
that I am the legal owner of my dog or agent for owner, and that my dog has current inoculations including but not limited to inoculations against
distemper, parvo, lepto, bordetella, and rabies. I understand and acknowledge that my dog will be kept in the company of other dogs during its
stay here at DOG.. I understand that my dog must have a suitable collar or harness and proper identification tags. I give DOG. permission to
take pictures of my dog for use in its advertising and promotional materials, and any pictures so taken become the property of DOG without
review or compensation. I understand that DOG. may terminate my dog’s stay at any time in its sole and absolute discretion, and that if my dog’s
stay is terminated I will promptly pick up my dog, or send an agent to do so. I understand that daycare packages are non refundable. I
understand that Boarding fees, Daycare, Grooming, Swim, and/or Spa treatments are nonrefundable. The periods of November 22 – November
27, and December 22 – January 2 require a 50% nonrefundable deposit at the time of booking.</p>

<p>Additional Services. I understand that I am expected to provide DOG. with sufficient food for my dog during his or her stay. If I do not provide
sufficient food, DOG. may purchase food of its choosing, and I agree to pay $3 per meal provided by DOG.. I understand that the following
services are available upon request and for additional charges: bathing and nail clipping, canine swimming in an indoor pool, spa services and
massage, and pickup and delivery. DOG. will use reasonable efforts to administer topical or oral medications at no additional charge.
Medications requiring the use of a needle will be charged an additional fee of $2.00 per injection.</p>

<p>Cancellations. I understand that if I cancel a reservation, I will be required to pay for the entire time reserved, unless I cancel within one (1)
business day for all non-holiday reservations, and more than seven (7) days in advance for holiday reservations. A holiday is any holiday
recognized by the US Postal Service. The periods of November 22 – November 27, and December 22 – January 2 requires a fourteen (14) day in
advance cancellation.</p>

<p>Charges. I hereby authorize DOG. to charge my credit card for all fees and charges I or my dog may incur, prior to taking custody of my dog. I
also authorize DOG. to charge my credit card any additional fees and charges which I or my dog may incur. I understand that DOG. may decline
to provide services to me or my dog if my credit card is declined prior to DOG. taking custody of my dog, and that DOG. may charge me a
declination charge if my credit card is declined thereafter. I understand that if I am late picking up my dog that I will be charged for any
additional time that my dog remains at DOG.. I authorize DOG. to charge my credit card in increments if my credit card cannot process a
payment due to a limitation on individual transactions. I agree that if I pay by check and my check is not honored when presented for payment,
DOG. may charge the full amount due plus a returned check fee of $25 to my credit card.</p>

<p>Assumption of Risk. I hereby give DOG. permission to care of my dog and to do any and all things required in the ordinary and normal course
of providing such care in its discretion. DOG. may use leashes, choke collars or other appropriate means of maintaining control over my dog. I
understand that DOG. is not responsible or liable for any of the following: injuries (or death) to my dog caused by other dogs (including being
bitten); diseases or ailments which my dog may contract from other dogs, including infections and viruses; falls; theft; collisions with vehicles;
running away; natural disasters; fire; the unavailability of emergency medical care or any items necessary for the care of my dog due to
circumstances beyond the control of DOG. (including food, water, medicine, and electricity); the negligence or deliberate acts of third parties; or
injuries or death to my dog caused by themselves including but not limited to hanging themselves, ingesting foreign objects, chewing
themselves, chewing foreign objects, or running away. I understand that DOG. is not responsible for any personal property left with DOG.,
including but not limited to beds, blankets, clothing, bowls, food, collars, leashes, or toys.</p>

<p>Veterinary Care. If, in my absence, my dog should be injured, appears sick, or otherwise requires immediate veterinary attention as determined
by DOG. in its sole and absolute discretion, I hereby authorize DOG. to consult with any veterinarian for treatment or guidance. I authorize
DOG. to utilize the services of any veterinarian selected by DOG.. I understand that I am responsible for any charges, including transportation
costs, incurred with respect to any such veterinary services. I name DOG. as my attorney-in-fact to act in my name to accomplish the foregoing.</p>

<p>Release of Liability and Indemnification. I hereby release DOG., it’s shareholders, officers, directors, employees, contractors, agents, or any
other persons or entities involved with the services provided by DOG. from all actions, suits or claims for injury, loss or damage regardless of the
cause (with the sole indiscretion of intentional wrongdoing of DOG.). I also release the owner of the facility (“Owner”) which DOG. occupies
from all actions, suits or claims for injury, loss or damage regardless of the cause (with the sole indiscretion of intentional wrongdoing of the
Owner). I understand and acknowledge that dogs can be extremely unpredictable and may cause damage to themselves, other dogs, persons or
property for which DOG. could be liable. I agree to indemnify and hold harmless DOG. and Owner for any and all losses, liabilities, demands,
expenses, claims and suits, including any legal, veterinary or other fees DOG. or Owner may incur as a result of any damage caused by my dog,
and I agree to defend DOG. and Owner against such. It is the intention of the parties that the foregoing releases shall be effective as a bar to all
actions, claims, losses, liabilities, damages or costs, of any kind or nature, known or unknown, foreseeable or unforeseeable, arising out of the
performances of DOG.’s services. The parties expressly agree that this release of liability and indemnification shall be given full force and effect
in accordance with each and all of its terms and provisions.</p>

<p>I understand that this Agreement is a contract between DOG. and me, and that it contains a power of attorney, release of liability and indemnity.
If any portion of this Agreement is deemed unenforceable, all other portions shall be given full effect to the extent possible. In the event of a
dispute between the parties, the prevailing party shall be entitled to recover all costs and expenses incurred therein, including attorneys fees. This
Agreement contains the complete understanding of the parties with respect to the subject matter herein and supersedes all prior representations
and understandings, whether oral or written. This Agreement may be modified only by a writing signed by both parties.</p>
</section>