@media only screen
and (min-width : 768px) {

  #amenities .group {
    text-align: left;
    max-width: 500px;
  }

  .background {
    width: 100%;
    min-height:350px;
    max-height:350px;
    overflow: hidden;
    background: no-repeat center top fixed;
  }
  .background-boarding {
    background-image: url('/media/boarding.jpg');
  }
  .background-daycare {
    background-image: url('/media/daycare-2.jpg');
  }
  .background-spa {
    background-image: url('/media/spa-2.jpg');
  }

  .brand {
    margin-top: -30px;
  }

  form label.radio, form label.checkbox {
    width: inherit;
    display: inline;
  }
  form .row .group {
    margin-left: 0px;
    margin-right: 0px;
    width: 49%;
  }
  form .row .group:last-child {
    margin-left: 2%;
  }
  form .row.percent-33 .group {
    width: 32%;
    margin-left: 0.5%;
  }
  form .row.percent-33 .group:first-child {
    margin-left: 0px;
  }

  .google-map {
    width: 100%;
    height: 450px;
  }

  .header-info {
    padding: 15px;
  }
  .header-info * {
    display: inline;
    vertical-align: top;
    z-index: 3;
  }
  .header-info .social-links {
    float: right;
  }
  .header-info span {
    display: inline-block;
    padding-top: 5px;
    margin-right: 10px;
    float: right;
  }

  .nav {
    height: 69px;
    text-align: left;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav .menu {
    position: absolute;
    margin-left: -237px;
    margin-top: 10px;
    padding: 30px;
    width: 300px;
    background-color: #64948E;
    color: #fff;
    text-align: left;
    -moz-box-shadow: 5px 5px 5px #444;
    -webkit-box-shadow: 5px 5px 5px #444;
    box-shadow: 5px 5px 5px #444;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 3;
  }
  .nav .menu button[type="submit"] {
    margin-top: 10px;
  }
  .nav ul {
    position: absolute;
    top: 65px;
    padding: 0px;
    margin-left: 15px;
  }
  .nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .nav ul li.active {
    background-color: #64948E;
  }
  .nav ul li:hover {
    background-color: #75A9A3;
  }
  .nav ul li.active a, .nav ul li:hover a {
    color: #fff;
  }
  .nav ul li.active .menu, .nav ul li:last-child:hover .menu, .nav .xdsoft_datetimepicker:hover .menu {
    display: block;
  }

  .price-table {
    min-width: 350px;
    width: inherit;
  }

  .row {
    width: 100%;
  }
  .row .group {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-table;
  }
  .row.percent-25 .group {
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .row.percent-33 .group {
    width: 32.3333%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

  .suites img {
    max-width: 250px;
    width: 95%;
    border: 10px solid #fff;
    display: block;
  }

  .teasers.percent-33 .group {
    width: 32.3333%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}