@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

a {
  color: teal;
}
a:visited {
  color: #aaa;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
  margin:0;
  padding:0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.brand {
  position: relative;
  z-index: 3;
}

button, input[type="button"], input[type="submit"], a.button {
  margin: 0em;
  font-size: 1.75em;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: teal;
  color: #fff;
  vertical-align: middle;
}
button.attention, input[type="button"].attention, input[type="submit"].attention, .button.attention {
  background-color: #00D9DA;
  color: #fff;
  font-size: 1.5em;
  width: 100%;
}
button.small, input[type="button"].small, input[type="submit"].small, .button.small {
  font-size: 0.5em;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.background {
  z-index: 1;
  width: 100%;
  height: 150px;
  border-bottom: 2px solid #433C30;
  background-size: 100% 150px;
}
.background-boarding {
  background-image: url('/media/boarding-sm.jpg');
  background-position: center;
}
.background-daycare {
  background-image: url('/media/daycare-sm.jpg');
}
.background-spa {
  background-image: url('/media/spa-sm.jpg');
  background-position: left;
}

.content {
  padding: 30px;
  text-align: center;
}
.content ul, .content li {
  text-align: left;
}

footer {
  padding: 30px;
  background-color: #444;
}
footer * {
  display: inline;
}
footer ul li:after {
  content: ' | ';
}
footer ul li:last-child:after {
  content: none;
}
footer a {
  color: #B1D6DB;
}

form {
  text-align: left;
}
form fieldset {
  border: none;
  margin: 0px;
  margin-bottom: 25px;
  padding: 0px;
  padding-top: 10px;
}
form fieldset legend {
  background-color: cadetblue;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
}
form label {
  display: block;
  margin-right: 5px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 300
}
form label.radio, form label.checkbox {
  width: inherit;
  margin-bottom: 5px;
}
form label.required:after {
  content: url('/media/required.png');
}
form label.checkbox.required {
  font-weight: bold;
}
form label.error {
  display: none !important;
}
form input, form textarea, form select  {
  margin-bottom: 5px;
  padding: 7px;
}
form input[type='text'], form textarea, form input[type='email'] {
  width: 100%;
  box-sizing: border-box;
}
form input.error, form select.error, form textarea.error {
  border: 1px solid red;
}
form input.small {
  width: 125px;
 }
form textarea {
  height: 100px;
}
form .row .group {
  display: inline-block;
}
form .actions {
  margin-top: 15px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

h1 {
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  color: #333;
}

h4 {
  font-size: 1.75em;
  color: #666
}

h5 {
  font-size: 1.5em;
}

header {
  background-color: #fff;
  border-bottom: 4px solid #64948E;
}

.header-info {
  color: #777;
  display: block;
  text-align: center;
}
.header-info strong {
  color: orchid;
}

hr {
  margin-top: 75px;
  margin-bottom: 75px;
  border: 1px solid #F0EDED;
  width: 50%;
}

/*.intro-background {*/
  /*z-index: 1;*/
  /*width: 100%;*/
  /*border-bottom: 2px solid #433C30;*/
/*}*/

.alternate-section {
  text-align: center;
  padding-bottom: 50px;
  color: #777;
  background-color: #fff;
}
.alternate2-section {
  text-align: center;
  padding-bottom: 50px;
  color: #fff;
  background-color: #76A6AD;
}
.alternate2-section h3 {
  color: #fff;
}
.alternate2-section .button {
  background-color: #7F7D79;
}
.alternate2-section a:visited {
  color: #fff;
}

.center {
  text-align: center;
}
.center img {
  margin-left: auto;
  margin-right: auto;
}

.fade.ng-hide {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-show {
  opacity:0;
}

.google-map {
  height: 200px;
}

.mission h2 {
  font-size: 3.5em;
  margin-top: 10px;
  color: #666;
}

.nav {
  padding-top: 5px;
  text-align: center;
}
.nav * {
  display: inline-block;
}
.nav .menu {
  display: none;
}
.nav ul {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  text-align: center;
}
.nav ul li {
  padding: 0px;
  display: inline-table;
  padding-left: 6px;
  padding-top: 10px;
}
.nav ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #111;
  text-decoration: none;
}
.nav ul li.active, .nav ul li.active a, .nav ul li:hover a {
  color: teal;
}

.price {
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  box-shadow: 0px 0px 10px #777;
  text-align: center;
  margin-bottom: 10px;
}
.price h4 {
  background-color: teal;
  color: #fff;
  margin: 0px;
  padding: 10px;
  font-size: 1.5em;
}
.price .amount {
  font-size: 5em;
  display: block;
}
.price .amount .fa {
  font-size: 30px;
  margin-top: 20px;
  vertical-align: top;
}
.price .amount sup {
  font-size: 20px;
  vertical-align: top;
  margin-top: 15px;
  display: inline-block;
}
.price .footer {
  background-color: #fff;
  width: 100%;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.price-table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  box-shadow: 0px 0px 10px #777;
}
.price-table thead {
  background-color: teal;
  color: #fff;
  padding: 10px;
}
.price-table thead th {
  padding: 20px;
}
.price-table tbody {
  background-color: #fff;
}
.price-table tbody td {
  padding: 10px;
}
.price-table tfoot {
}

.specials {
  position: absolute;
  right: 0px;
  background-color: rgba(31, 27, 20, 0.7);
  color: #fff;
  padding-right: 30px;
  width: 100%;
  padding-bottom: 15px;
  height: 132px;
  text-align: right;
}
.specials h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  color: rgb(43, 202, 202);
}
.specials p {
  margin-top: 0px;
}
.specials .button {
  margin-left: 15px;
  background-color: rgb(112, 221, 176);
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 5px;
}

.social-links {
  font-size: 1.75em;
  margin-bottom: 5px;
}
.social-links a {
  color: #ccc;
  text-decoration: none;
}
.social-links a:hover {
  color: #64948E;
}

.suites {
  margin-top: 20px;
}
.suites img {
  max-width: 150px;
  width: 95%;
  border: 10px solid #fff;
  display: block;
}
.suites h4 {

}

.teasers {
  background-color: #ECECEC;
}
.teasers.percent-33 .group {
    width: 100%;
}

.teaser {
  margin-top: 20px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.teaser img {
  border-radius: 50%;
  border: 7px solid teal;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 0px 0px 10px #777;
  -webkit-box-shadow: 0px 0px 10px #777;
  box-shadow: 0px 0px 10px #777;
}
.teaser .teaser-content {
  padding-left: 20px;
  padding-right: 20px;
}
.teaser h3 {
  color: teal;
  margin-top: 10px;
  margin-bottom: 5px;
}
.teaser h3 span {
  color: #969696;
}
.teaser .button {
  border-radius: 5px;
  background-color: #7F7D79;
  color: #fff;
  padding: 7px;
  display: block;
  width: 200px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  float: right;
  text-align: center;
}

ul.fa-ul li {
  padding-bottom: 15px;
}

.webcams img {
  max-width: 475px;
  width: 95%;
  border: 10px solid #3F3636;
}