@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500,300,700);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

button, input[type="button"], input[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}
button.attention, input[type="button"].attention, input[type="submit"].attention {
  background-color: #00D9DA;
  color: #fff;
  font-size: 1.5em;
  width: 100%;
}

.background {
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid #433C30;
}

form label {
  display: inline-block;
  width: 100px;
  margin-right: 5px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 300
}
form label.radio, form label.checkbox {
  width: inherit;
  display: inline;
}
form input, form textarea, form select {
  margin-bottom: 5px;
  padding: 7px;
}
form input[type='text'], form textarea {
  width: 100%;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}

h2 {

}

h3 {
  color: teal;
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.nav {
  text-align: center;
  position: relative;
  z-index: 2;
  height: 83px;
  padding-top: 5px;
  border-bottom: 2px solid #433C30;
}
.nav * {
  display: inline-block;
}
.nav .menu {
  position: absolute;
  margin-left: -237px;
  margin-top: 10px;
  padding: 30px;
  width: 300px;
  background-color: #64948E;
  color: #fff;
  text-align: left;
  -moz-box-shadow: 5px 5px 5px #444;
  -webkit-box-shadow: 5px 5px 5px #444;
  box-shadow: 5px 5px 5px #444;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav .menu button[type="submit"] {
  margin-top: 10px;
}
.nav ul {
  position: relative;
  top: -80px;
  margin-left: 30px;
  padding: 0px;
}
.nav ul li {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nav ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #111;
  text-decoration: none;
}
.nav ul li.active {
  background-color: #75A9A3;
}
.nav ul li:hover {
  background-color: #64948E;
}
.nav ul li.active a, .nav ul li:hover a {
  color: #fff;
}
.nav ul li.active .menu, .nav ul li:last-child:hover .menu {
  display: block;
}

.row {
  width: 100%;
}
.row .group {
  width: 49%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  display: inline-table;
}
.row.percent-33 .group {
  width: 32.3333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.teaser {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.teaser img {
  border-radius: 50%;
  border: 7px solid teal;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.teaser .content {
  padding-left: 20px;
  padding-right: 20px;
}
.teaser h3 span {
  color: #ccc;
}
.teaser .button {
  border-radius: 5px;
  background-color: #7F7D79;
  color: #fff;
  padding: 7px;
  display: block;
  width: 200px;
  text-decoration: none;
  font-weight: bold;
  float: right;
  text-align: center;
}